/* post styles */

.post{
    background-color: white;
    border: 1px solid lightgray;
    max-width: 350px;
    margin-bottom: 45px;
    margin: 20px auto;
    border-radius: 4px;
}

.post__username{
    font-weight: 700;
    font-size: 18px;
}

.post__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post__image-wrapper{
    width: 700px;
    height: 700px;
}

.post__buttons{
    display: flex;
    justify-content: space-between;
    margin: 0 4px;
}

.post__title{
    font-weight: 700;
    font-size: 18px;
    padding: 20px 0px 5px 20px;
}

.post__date{
    font-weight: 300;
    font-size: 16px;
    padding: 0px 0px 10px 20px;
}

.post__text{
    font-weight: 400;
    font-size: 16px;
    padding: 0px 20px 20px 20px;
}

.post__header{
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar{
    margin-right: 10px;
}

/* icon styles */

.favoriteFilled{
    color: #fb3958 !important;
}

/* popover styles */
.close-button{
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
}