.post{
    background-color: white;
    border: 1px solid lightgray;
    max-width: 700px;
    margin-bottom: 45px;
    margin: 20px auto;
    border-radius: 4px;
}

.post__image{
    width: 700px;
    height: 700px;
    object-fit: cover;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__title{
    font-weight: bold;
    padding: 20px 0px 5px 20px;
}

.post__date{
    font-weight: normal;
    padding: 0px 0px 10px 20px;
}

.post__text{
    font-weight: normal;
    padding: 0px 20px 20px 20px;
}

.post__header{
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar{
    margin-right: 10px;
}