@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  font-family: 'Poppins';
}

.app{
  background-color: #fafafa;
  height: 100vh;
}

.app__header{
  position: sticky;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__headerLogo{
  padding: 5px;
  font-family: 'Lobster';
  font-size: 35px;
}

.app__nav-item{
  margin-left: 30px;
  margin-right: 30px;
}

.app__post{
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* icon styles */

.favoriteFilled{
  color: #fb3958 !important;
}

@media screen and (max-width: 1350px){
  .app{
    flex-direction: column;
  }
  .app__header{
    padding: 5px;
  }
  .app__nav-item{
    flex: 1;
    margin-left: 0px;
    margin-right: 0px;
  }
  .app__headerLogo{
    font-size: 30px;
    padding: 2px;
  }
}